@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  

.community_container {
	width: 1200px;
	height: 100%;
	margin: 30px auto;	
    background-color: white;
    color: black;
	font-family: 'GmarketSansMedium';	
}

.community_container a {
	text-decoration: none;
}

.community_container a:visited {
	color: transparent;
}

/* community list */
.community_list {
	width: 100%;
	height: 100%;
	border-top: 2px solid #252525;
	border-bottom: 1px solid #ccc;
	margin: 15px 0;
	border-collapse: collapse;
	font-family: 'GmarketSansMedium';
}
.community_list thead th {
	border-bottom: 1px solid #ccc;
	padding: 13px, 0;
	text-align: center;
	vertical-align: middle;
}
.community_list tbody td {
	border-top: 1px solid #ccc;
	padding: 13px 0;
	text-align: center;
	vertical-align: middle;
}
.community_list tbody tr:hover {
	background: #ccc;
}
.community_list tbody td.title {
	text-align: left;
	padding-left: 20px;
}


/* community detail */
.community_detail_container {
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 50px;
    color: rgb(0, 0, 0);
	font-family: 'GmarketSansMedium';
}
.community_detail {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.community_detail_title input {
	padding-top: 5px;
	width: 100%;
	border: 1px solid black;
	font-size: 15px;
}
.community_detail_contents textarea {
	padding-top: 5px;
	width: 100%;
	height: 40em;
	font-size: 15px;
}


/* community write */
.community_write_container {
	width: 80%;
	height: 100%;
	margin: 30px auto;
    color: rgb(0, 0, 0);
	font-family: 'GmarketSansMedium';
	font-size: 15px;
}
.community_write {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	
}

.community_write_title input {
	padding-top: 5px;
	width: 100%;
	height: 1.2em;
	border: 1px solid black;
	font-size: 15px;
	font-family: 'GmarketSansMedium';
}

.community_write_contents textarea {
	padding-top: 5px;
	width: 100%;
	height: 40em;
	font-family: 'GmarketSansMedium';
	font-size: 15px;
}

.community_write_button {
	display: flex;
	float: left;
	width: 150px;
	height: 50px;
}

