@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.join_container {
  font-family: 'GmarketSansMedium';

  /* background-image: url("http://localhost:3000/image/logo.png"); */
  background-size: 348px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  vertical-align: middle;
}

.join_container .title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  font-family: 'GmarketSansMedium';
  border: 0;
  outline: none;
  font-size: 10px;
}

input::placeholder {
  color: #d9d9d9
}

.joinbox {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 520px;
  opacity: 0.9;
}

.joinbox .content {
  width: 500px;
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}

.joinbox .content label {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 14px;
  padding: 8px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}

.joinbox .content label span {
  color: #da4841;
  vertical-align: -1px;
}

.joinbox .content input {
  width: 100%;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
  margin-top: 12px;
}

.join_button {
  display: block;
  float: right;
  font-size: 16px;
  border: 1px solid transparent;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #6bc7ce9a;
  border-radius: 5px;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
  margin-right: -25px;
}

.join_button:hover {

  background-color: lightgray
}

.join_button:active {
  color: white;
  background-color: #F58220;
  border-radius: 5px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}