@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
/* ----------------------------- 마이페이지 ----------------------------- */
.my_container {
  width: 100%;
}
.my_container p {
  display: flex;
  justify-content: center;
  color: gray;
  font-family: 'GmarketSansMedium';

}
.my_title {
	width: 20%;
    margin: 5% 0% 3% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'GmarketSansMedium';
}
/* ---------------------------------------- 내용 ---------------------------------------- */

.my_content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'GmarketSansMedium';
}

.my_content {
  width: 50%;
  text-align: center;
}
.my_id, .my_name, .my_email, .my_level, .my_class {
  height: 80px;
}
.my_content label {
  width: 5%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
  position: absolute;
}
.my_content input {
  width: 49%;
  height: 40px;
  background-color: #fef0e4;
  border: 3px solid #ffb06a;
  border-radius: 10px;
  margin-left: 10%;
  font-size: 20px;
  padding-left: 1%;
}


/* ----------------------------- 수정 버튼 ----------------------------- */

.my_btn {
	width: 100%;
  display: flex;
  justify-content: center;
	margin-bottom: 10%;
}
.my_btn button {
	width: 6%;
	height: 40px;
	cursor: pointer;
	color: white;
	background-color: #ffb06a;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	font-family: 'GmarketSansMedium';
	margin-left: 1%;
}

.my_btn button:hover {

  color: #ffb06a;
	background-color: #fef0e4;
	border: 3.5px solid #ffb06a;
}